// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

// cores da identidade da marca
$brand-1 = $cyan-10 // #006064
$brand-2 = $cyan-6  // #00bcd4
$brand-3 = $cyan-9  // #00838f
$brand-4 = $grey-3  // eeeeee
$brand-5 = rgba(0, 0, 0, .75)
$brand-6 = rgba(0, 0, 0, .50)
$brand-count = 6

// codigo de cores para status das atividades 
$status-inicial = $purple
$status-transitorio = $light-green-13
$status-conclusao = $light-blue
$status-cancelamento = $grey-6
$status-inicio-atrasado = $red-14
$status-termino-atrasado = $negative
$status-default = $amber
$status-cadastramento = $grey-4

// codigo de cores para atividades no inbox
$inbox-atrasada = $negative
$inbox-hoje = $warning
$inbox-amanha = $positive
$inbox-proxima = $primary
$inbox-naoplanejada = $into
$inbox-indefinida = $black

// codigo de cores para caixas
$caixa-amarela = $warning
$caixa-azul = $primary
$caixa-branca = $grey-6
$caixa-verde = $positive
$caixa-vermelha = $negative
$caixa-default = $black
